.generic-content-container{

    p{
        line-height:1.65;
        font-weight:300;
        margin:1.8rem 0;

        @mixin atMedium{
            font-size:1.125rem;
        }
    }

    p a {
        font-weigt:700;
    }
}
